# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
dist/
build/

# turbo
.turbo

# misc
.DS_Store
*.pem
*.log

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# foundry
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/

# subgraph
packages/subgraph/generated/
packages/subgraph/build/

# ide
.vscode/
.idea/

# build artifacts
*.tsbuildinfo
